<?xml version="1.0" encoding="utf-8" ?>
<!--
	Alertus Desktop Alert Configuration File 
	After saving changes to this file you must restart the application for changes to take affect
	For a complete reference of configuration options see:
	    http://support.alertustech.com/wiki/Desktop_Alert_Configuration_Options (login required)
	Last Updated on 05/11/2012
  * ShowOnlyMessagesWithLCDPlasmaOverrideEnabled is now a Application Setting.
  * Removed any DSO Only properties.
  * Removed Logo2 XY
  
  IF DEPLOYING THIS APPLICATION AS PART OF AN IMAGE MAKE SURE YOU SET THE RESERVEDCOMPUTERNAME PROPERTY AT THE END OF THIS FILE
  AND READ THE DEPLOYMENT INSTRUCTIONS LOCATED AT: http://support.alertus.com/wiki/Deploying_Alertus_Desktop#Method_2:_Using_an_Image_File (login required)
-->

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
			type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="eEASDesktopAlert.Settings1"
				type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings"
			type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="eEASDesktopAlert.Settings1"
				type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				requirePermission="false" />
		</sectionGroup>
	</configSections>	
	
<!-- User Settings -->
	<userSettings>
		<eEASDesktopAlert.Settings1>		
			<!-- TEST MODE -->
			<!-- Enables functionality that is helpful when configuring the client.  Remember to set to False in production -->
			<setting name="TestMode" serializeAs="String">
				<value>True</value>
			</setting>			
		
			<!-- DEBUG SETTINGS -->
			<!-- Set these to True when debugging a client problem, otherwise set to False -->
			<setting name="LoggingEnabled" serializeAs="String">
				<value>False</value>
			</setting>
			
			<!-- Should the application run on startup -->
     			<setting name="RunOnStartup" serializeAs="String">
				<value>True</value>
			</setting>
		</eEASDesktopAlert.Settings1>
	</userSettings>

<!-- Application Settings -->	
	<applicationSettings>
		<eEASDesktopAlert.Settings1>			
			<!-- ALERTUS REMOTE SERVER SETTINGS -->
			<setting name="AlertusServerHostname" serializeAs="String">
				<value>alertus.oit.uci.edu</value>
			</setting>
			<setting name="AlertusServerPort" serializeAs="String">
				<value>80</value>
			</setting>

			<!-- LOOK AND FEEL SETTINGS -->
			<!-- Controls the layout and customization of the application for your organization -->
			<setting name="AboutApplicationTitle" serializeAs="String">
				<value>About This Application...</value>
			</setting>
			<setting name="AboutApplicationBody" serializeAs="String">
				<value>
This application allows public safety personnel to relay important emergency alert information to your computer.

CUSTOMIZE THIS TEXT TO INCLUDE THE FOLLOWING:
1) A statement of who has the authority to activate the Desktop Alert System
2) A standard disclaimer that no personal information is gathered or transmitted, in accordance with an Organizational Acceptable Use Policy, where applicable
3) Contact information for a staff member who can field questions/concerns about the Desktop Alert Software, if necessary
				</value>
			</setting>
			<setting name="AlertSystemLabel" serializeAs="String">
				<value>Emergency Alert System</value>
			</setting>
			<setting name="ConfirmApplicationExitText" serializeAs="String">
				<value>Are you sure you want to close this program? This application was designed to always run in the background. If you exit, you will not receive emergency alerts.</value>
			</setting>
			<setting name="DefaultMsgText" serializeAs="String">
				<value>SYSTEM TEST of the Alertus emergency alert system. NO ACTION IS NEEDED. In a real emergency, important alert information will be displayed here.</value>
			</setting>
			<setting name="Logo1XOffset" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Logo1YOffset" serializeAs="String">
				<value>0</value>
			</setting>
			
			<!-- APPLICATION BEHAVIOR -->
			<!-- Controls how the application functions and behaves -->
			<setting name="ShowInSystemTray" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShowInSystemTrayOnlyWhenError" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="AllowUserToDisableRunOnStartup" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="AllowUserToExitTheApplication" serializeAs="String">
				<value>False</value>
			</setting>

			<!-- Client Name sets the name which will appear in Alertus System for configuring/reporting purposes -->
			<setting name="ClientNamePrefix" serializeAs="String">
				<value>AD_</value>
			</setting>
			<setting name="ClientName" serializeAs="String">
				<value>{ComputerName}</value>
			</setting>
			<setting name="ClientNameSuffix" serializeAs="String">
				<value>_{DateTimeStamp}</value>
			</setting>
			<!-- WHEN DEPLOYING ALERTUS DESKTOP AS AN IMAGE YOU MUST (1) UNCOMMENT THE SECTION BELOW AND (2) SPECIFY THE RESERVED COMPUTER NAME PROPERTY -->
			<!--
			<setting name="ReservedComputerName" serializeAs="String">
				<value>[ENTER YOUR IMAGE COMPUTER NAME HERE]</value>
			</setting>
			-->
			
			</eEASDesktopAlert.Settings1>
	</applicationSettings>
</configuration>
